fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
tensorflow==2.16.1
pillow==10.3.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
google-generativeai==0.5.4
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.2.1
aiofiles==23.2.1
httpx==0.27.0
